.header {
    border-bottom: 1px solid #111;
    padding: 0.1rem 1vw;
    display: flex;
    align-items: center;
    gap: 3vw;
}

.headerItem1 {
    width: 50%;
    text-align: left;
}

.headerItem2 {
    width: 50%;
    text-align: right;
}

.mainWrapper {
    text-align: center;
    padding-top: 1rem;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}
