.header {
    border-bottom: 1px solid #111;
    padding: 0.1rem 1vw;
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-left: 7vw;
}

.mainWrapper {
    text-align: center;
    padding-top: 1rem;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}
