body {
    background-color: black;
}

.whiteT {
    color: #ffffff;
}

.wrapper {
    margin-top: 40px;
    text-align: center;
}

.logoImg {
    margin: 0 auto;
}


.bigYoshi {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }