.flex-parent {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.2rem;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.flex-child {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #414143ed;
    padding: 1rem 0;
    width: 7.5rem;
    transition: 400ms;
    z-index: 3;
}

.particles {
    background-color: #192127;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 1;
}